body{
  margin:0;
  font-family: Arial;
  background:#0b0b0b;
  color:white;
  text-align:center;
}

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
}

.logo{
  width:60px;
}

nav a{
  margin:0 10px;
  color:white;
  text-decoration:none;
}

.btn-subscribe{
  background:red;
  padding:10px 20px;
  border-radius:20px;
}

.hero{
  padding:80px 20px;
}

.hero h1{
  font-size:40px;
}

.btn-primary{
  background:#caa35a;
  padding:10px 20px;
  border-radius:20px;
  margin:10px;
  display:inline-block;
}

.btn-secondary{
  border:1px solid white;
  padding:10px 20px;
  border-radius:20px;
}

.radio-section{
  padding:50px;
}

.radio-player{
  background:#111;
  padding:20px;
  border-radius:20px;
  width:300px;
  margin:auto;
}

.radio-player img{
  width:100px;
  border-radius:10px;
}

.controls button{
  margin:10px;
}

.music-grid{
  display:flex;
  justify-content:center;
  gap:20px;
}

.card{
  background:#111;
  padding:20px;
  border-radius:15px;
}

.card img{
  width:200px;
}

.section{
  padding:60px;
}

.subscribe img{
  width:300px;
}

footer{
  padding:20px;
}

.player-fixed{
  position:fixed;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  background:#111;
  padding:10px 20px;
  border-radius:30px;
  display:none;
  align-items:center;
  gap:10px;
}

.player-fixed img{
  width:40px;
}
